<html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Bonfire Chat</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ static_url("bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ static_url("bootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/frontpage.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/base.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/create_room.css") }}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
	  <a href="#"><img src="{{ static_url("imgs/bonfire-34h.png") }}" ></a>
          <div class="pull-right">
            <ul class="nav" style="color:#E8E8E8">
              <!--li><a href="#about">About</a></li>
              <li><a href="#about">FAQ</a></li-->
	      <!--li><script type="text/javascript"> id=124526; t=1; ctxt="Contact"; </script>
	      <script type="text/javascript" src="http://kontactr.com/kpu/kontactr.js"></script></li-->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
	<div class="span6 offset3">
		<h1> See Ya later </h1>
		<h2> You are now logged out </h2>
		</br>
		<a href="login">Log in</a>
	</div>
	</div>
	</div>
</body>
</html>